<!DOCTYPE html>
<html lang="en">
<head>
    <title>DNP 3.0 Analyzer</title>
</head>
<body>
	<header>
		<h1>DNP 3.0 Analyzer <small>Welcome! Enter the amazing world of DNP 3.0 protocol</small></h1>
	</header>

    <section class="content">
        <div class="well">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Error 404</h3>
                </div>
                <div class="panel-body">
                    <p>Sorry, we can't find the resource.</p>
                    <p>Try heading back to the <a href="/">home page</a>.</p>
                </div>
            </div>
        </div>
    </section>

	<footer>
		<a href="mailto:ivangaravito@gmail.com?subject=dnpAnalizer">Ivan Garavito Garcia</a> &copy; 2013 - <span id="version">Version: Development</span>
	</footer>
    <link href='/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <link href='/css/dnp.css' rel='stylesheet' type='text/css' />
<body>
</html>