body {
	padding-top: 50px;
}

header {
	background: #eee;
	border-bottom: 1px solid #aaa;
	opacity: 0.9;
	white-space: nowrap;
}

div.page-header {
	padding-left: 15px;
}

section {
    margin: 0;
    padding: 15px;
    background-color: white;
}

div.well {
    margin: 10px;
}

footer {
	background: #eee;
	border-top: 1px solid #aaa;
	height: 28px;
	padding: 4px 0px;
	opacity: 0.9;
    vertical-align: middle;
    white-space: nowrap;
}
footer > a {
	margin-left: 8px;
}

#datagramList {
    margin: auto;
    padding: 30px 0 50px;
}

#datagramResultData #datagram {
	display:		block;
	border:			1px solid #FF8040;
	background-color:	#FFC080;
	padding:		5px 10px;
	font-family:	courier;
	font-size:		10pt;
}
#datagramResultData {
	padding:		20px 10px;
	font-family:	courier;
	font-size:		10pt;
	line-height:	10pt;
	height:			auto;
}
#datagramResultData .block {
	display:		block;
	border:			2px solid #404040;
	background-color:	#80A0FF;
	padding:		10px;
	margin:			4px 0px;
}
#datagramResultData .block .title {
	display:		block;
	border:			0px solid #000;
	border-bottom:	1px dashed #000;
	background-color:	transparent;
	color:			#FFFF00;
	font-family:	courier;
	font-weight:	bold;
	font-size:		11pt;
	line-height:	11pt;
	margin:			2px;
	padding:		0px 2px;
}
#datagramResultData .group {
	display:		inline-block;
	border:			1px dotted #404040;
	background-color:	#E0FF40;
	padding:		4px;
	margin:			4px 2px;
}
#datagramResultData .group .title {
	display:		inline-block;
	border:			0px solid #000;
	background-color:	transparent;
	color:			#2040C0;
	font-weight:	bold;
	margin:			2px;
	padding:		0px 2px;
}
#datagramResultData .field {
	display:		inline-block;
	border:			1px dashed #404040;
	background-color:	#A0C0FF;
	margin:			0px 2px;
}
#datagramResultData .field .name {
	display:		inline-block;
	border:			0px solid #000;
	background-color:	#A0F0FF;
	font-weight:	bold;
	margin:			0px;
	padding:		0px 4px;
}
#datagramResultData .field .value {
	display:		inline-block;
	border:			0px solid #000;
	background-color:	white;
	color:			black;
	margin:			0px;
	padding:		0px 4px;
}
.rawData {
	display:		inline-block;
	border:			0px solid #000;
	background-color:	white;
	color:			black;
	margin:			0px;
	padding:		0px;
}
